#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5px;
  justify-content: center;
  margin-top: 5px;
}

#cardContainer {
  width: 235px;
  height: 350px;
  background-color: rgb(253, 253, 253);
  border: solid 1.5px #333;
  margin-left: 5px;
}

#imagen {
  height: 70%;
  width: 100vw;
  /* border-bottom: solid black 1px; */
}

#imagen img {
  /* max-width: 235px; */
  width: 235px;
  height: 100%;
}

#nombre {
  height: 20%;
  font-size: 20px;
  margin-left: 3px;
  color: black;
}

#precio {
  height: 10%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  margin-left: 2px;
}

#botones {
  display: flex;
}

#containerAdmin {
  background-color: #333;
}

#tituloAdmin {
  text-align: center;
}

#containerAdmin {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#formAdmin {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="file"] {
  border: 2px solid #003366;
  border-radius: 5px;
  padding: 10px;
}

input[type="text"],
select {
  border: 2px solid #a0522d;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

input[type="text"]::placeholder {
  color: #888;
}

#inputSelect {
  background-color: #ffffff;
  color: #003366;
}

#btnAgregar {
  background-color: #003366;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btnAgregar:hover {
  background-color: #001f33;
}

#cerrarSesionAdmin {
  position: absolute;
  right: 1px;
  top: 1px;
}

#icono {
  margin-left: 98%;
}

#CerrarSessionAd {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}

/* home */

#listaProductos {
  background-color: #002f6c;
  color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {
  #container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 30px;
  }

  #cardContainer {
    width: 74%;
    height: 98%;
    margin: 5px 0;
    border: solid 1.5px #333;
  }
  #imagen {
    height: 50vh;
  }
  #imagen img {
    width: 74.6%; 
  }
  #nombre,
  #precio {
    font-size: 16px;
    margin-left: 2px;
  }

  input[type="text"],
  select {
    font-size: 14px;
    padding: 8px;
  }

  #btnAgregar {
    font-size: 14px;
    padding: 8px;
  }

  #listaProductos {
    height: auto;
    font-size: 16px;
  }
}
