.contacto {
  background-color: #003366; /* Azul navy */
  padding: 40px 20px;
}

.contenido-seccion {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#con {
  color: #d4af37; /* Dorado */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.fila {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-col {
  flex: 1;
  padding: 20px;
  background-color: #fff; /* Blanco para el formulario */
  border: 2px solid #8b4513; /* Cobre */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-col input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #003366; /* Azul navy */
  border-radius: 5px;
  font-size: 1rem;
}

.form-col button {
  background-color: #d4af37; /* Dorado */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.form-col button:hover {
  background-color: #c0a16b; /* Color dorado más oscuro */
}

.form-col button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}

.form-col button:hover .overlay {
  opacity: 1;
}

.informacio {
  position: absolute;
  right: 90px;
  top: 250px;
}

.info ul {
  list-style-type: none;
}

.info li {
  color: #d4af37; /* Dorado */
}
