#listaProductos2 {
  background-color: #002f6c;
  color: #ffffff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

#modalDestacados {
  margin-right: 20px;
}

#cerrarModalDestacados {
  cursor: pointer;
  color: red;
  margin: 0px;
  margin-left: 96%;
  top: 1px;
  position: absolute;
}

#btnAbrirModalDestacados {
  margin-left: 10px;
  cursor: pointer;
}
